*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
body{
    background-color: #ffffff;
}
.container{
    align-content: center;
    background-color: #f5f6fa;
    border: 0px;
    margin: 30px;
}
.contain{
    background-color: #274c8e;
    padding: 2rem;
}
.button-1{
    background-color: #3c5c95;
    border: 0px;
    border-radius: 10px;
    padding: 0.4rem;
    width: 88vw;
}
.button-1 p{
    text-align: justify;
    margin: 8px;
    color: #e7dcd9;
}
.secure{
    margin: 10px;
}
.secure h2{
    color: #e7dcd9;
}
.log{
    margin: 10px;
}
.log h4{
    color: #e7dcd9;
}
/* content */
.info{
    margin: 15px;
}
/* cards */
.one{
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    width: 30vw;
    height: 50vh;
    margin: 15px;
    box-shadow: 8px 8px 15px 1px;
}
.one .content-1{
    text-align: center;
    padding: 4rem;
}
.two{
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    width: 30vw;
    height: 50vh;
    margin: 15px;
    box-shadow: 8px 8px 15px 1px;
}
.two .content-1{
    text-align: center;
    padding: 5rem;
}
.three{
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    width: 30vw;
    height: 50vh;
    margin: 15px;
    box-shadow: 8px 8px 15px 1px;
}
.three .content-1{
    text-align: center;
    padding: 5rem;
}
.four{
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    width: 30vw;
    height: 50vh;
    margin: 15px;
    box-shadow: 8px 8px 15px 1px;
}
.four .content-1{
    text-align: center;
    padding: 5rem;
}
.five{
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    width: 30vw;
    height: 50vh;
    margin: 15px;
    box-shadow: 8px 8px 15px 1px;
}
.five .content-1{
    text-align: center;
    padding: 5rem;
}
.six{
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    width: 30vw;
    height: 50vh;
    margin: 15px;
    box-shadow: 8px 8px 15px 1px;
}
.six .content-1{
    text-align: center;
    padding: 5rem;
}
.seven{
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    width: 100vw;
    height: 40vh;
    margin: 15px;
    box-shadow: 8px 8px 15px 1px;
}
.seven .content-1{
    text-align: center;
    padding: 3rem;
}
.card-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 400px;
}
/* button */
.one button{
    margin: 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    padding: 0.5rem;
}
.two button{
    margin: 20px;
    background-color: #2196f3;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 0.5rem;
}
.three button{
    margin: 20px;
    background-color: #9c27b0;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    padding: 0.5rem;
}
.four button{
    margin: 20px;
    background-color: #ff9800;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    padding: 0.5rem;
}
.five button{
    margin: 20px;
    background-color: #00bcd4;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    padding: 0.5rem;
}
.six button{
    margin: 20px;
    background-color: #607d8b;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    padding: 0.5rem;
}
.seven button{
    margin: 20px;
    background-color: #f44336;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    padding: 0.5rem;
}