*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
body{
    background-color: #ffffff;
}
.container{
    align-content: center;
    background-color: #f5f6fa;
    border: 0px;
    margin: 20px;
}
.contain{
    background-color: #274c8e;
    
}